@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.m-t-5 {
  margin-top: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.m-l-75 {
  margin-left: 75px !important;
}

.p-l-75 {
  padding-left: 75px !important;
}

.m-r-75 {
  margin-right: 75px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

.m-r-100 {
  margin-right: 100px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  background: no-repeat center center fixed linear-gradient(to bottom, #0d1732, #0b2153, #483261, #943b71);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

.landingpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100vh;
}

.projects {
  height: 100vh;
}
.projects .projectContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.aboutMain {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.aboutMain .aboutImg {
  height: 60%;
  width: 40%;
  margin-left: 2%;
}
.aboutMain .aboutImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.aboutMain .aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 60%;
  height: 60%;
  margin: 5%;
}
.aboutMain .aboutText h2 {
  font-size: 3.5rem;
}
.aboutMain .aboutText h5 {
  font-size: 1.5rem;
}
.aboutMain .aboutText p {
  text-align: center;
}
.aboutMain .aboutText a {
  border-radius: 20px;
  background-color: #943b71;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30%;
  height: 10%;
}
.aboutMain .aboutText a:hover {
  transition: all 300ms ease-in;
  transform: scale(1.02);
  background-color: #483261;
}

.about2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.contact {
  height: 100vh;
  width: 100%;
  background-color: #0b2153;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.contact .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .contact .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contact .contact-container .map iframe {
    height: 500px;
  }
}

.navbar {
  min-height: 100px;
  width: 100%;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (max-width: 700px) {
  .navbar {
    background-color: #0d1732;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
.navbar .nav-branding {
  font-size: 2rem;
}
.navbar .nav-menu {
  display: none;
  display: flex;
  flex-direction: row;
  place-items: start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (max-width: 700px) {
  .navbar .nav-menu {
    display: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 1rem;
  }
}
@media (max-width: 700px) {
  .navbar .nav-menu .nav-item {
    text-align: center;
  }
}
.navbar .nav-menu .nav-item .nav-link {
  display: block;
  padding: 1rem;
  color: white;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  opacity: 0.5;
}
.navbar .hamburger {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 31px;
  background-color: #0b2153;
}
@media (max-width: 700px) {
  .navbar .hamburger {
    margin-top: 3%;
    background-color: #0d1732;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
.navbar .hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}

p {
  color: white;
}

@keyframes cursor {
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  90%, to {
    width: 0;
  }
}
@keyframes slide {
  50% {
    font-size: 10rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
.typing-slider {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide 6s step-start infinite;
}

.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
  background-color: gray;
  animation: typing 3s infinite, cursor 1s infinite;
}

.typing-slider p:nth-child(1) {
  animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
  animation-delay: 0s;
  animation-timing-function: steps(9), step-end;
}

.typing-slider p:nth-child(2) {
  animation-delay: 3s;
}
.typing-slider p:nth-child(2)::after {
  animation-delay: 3s;
  animation-timing-function: steps(4), step-end;
}

.projectCard {
  opacity: 0.9;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.projectCard:hover {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: scale(1.02);
}
.projectCard .projectImg {
  height: 50%;
}
.projectCard .projectImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projectCard .projectDesc {
  height: 50%;
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.projectCard .projectDesc h2 {
  border: 1px solid white;
  font-size: 2rem;
}
.projectCard .projectDesc p {
  font-size: 16px;
  width: 60%;
  border: 1px solid white;
}
.projectCard .projectDesc a {
  width: 60%;
  border: 1px solid white;
}

.experience {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  color: white;
}

.imgContainer {
  width: 95%;
}
@supports (display: grid) {
  .imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(0px) rem(0px);
  }
}
@supports (display: grid) {
  .imgContainer {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-gap: rem(0px) rem(0px);
  }
}
.imgContainer figure {
  grid-column: span 1;
}
.imgContainer figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  color: white;
  background-color: #0d1732;
  border-radius: 0.5rem;
  overflow: hidden;
}
.contact-container .form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}
.contact-container .form-container h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-container .form-container .contact-form {
  height: 100%;
  width: 90%;
  display: grid;
  row-gap: 2rem;
}
.contact-container .form-container .contact-form .send-button {
  margin: 0 auto;
  border-radius: 40px;
  width: 50%;
  margin-bottom: 4%;
}
.contact-container .form-container .contact-form input,
.contact-container .form-container .contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #0b2153;
  padding: 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.4rem;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  background-color: #0b2153;
  padding-bottom: 10px;
}
footer a i {
  font-size: 3rem;
}