@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300&display=swap');

// fonts
$primaryFontFamily: 'Roboto Mono', monospace;
// colors
$blue: #b2a8df;
$lavander: #ccacdc;
$lilac: #e2acd4;
$pink: #fedae0;
$mint:#d8f3db;
$textColor:white; 
$darkblue: #0d1732;
$blue: #0b2153;
$purple: #483261;
$almostpurple: #943b71;
$pink: #d35d8f;

// font size 
$primaryFontSize:3rem;
$secondaryFontSize:2rem;

//vh
$vh100 :100vh;
$vh50 :50vh;