.navbar {
  min-height: 100px;
  max-width: 100%;
  font-size: $primaryFontSize;
  margin-left:1rem ;
  @include flexbox($placeItems: center);
  @include md {
    background-color: $darkblue;
    @include flexbox($direction: column, $alignItems: flex-start);
  }
  .nav-branding {
    font-size: $secondaryFontSize;
  }

  .nav-menu {
    font-size:$secondaryFontSize;
    display: none;
    @include flexbox($placeContent: start);
    @include md {
      display: none;
      width: 100%;
      @include flexbox($direction: column);
      padding: 1rem;
    }
    // font-size:$secondaryFontSize;

    .nav-item {
      @include md {
        text-align: center;
      }
      .nav-link {
        display: block;
        margin-right: 1.5rem;
        color: $white;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .hamburger {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
    width: 40px;
    height: 31px;
    background-color: $navbarRepsonsiveBg;
    justify-content: space-between;
    @include md {
      margin-top: 3%;
      background-color: $darkblue;
      @include flexbox;
      justify-content: space-between;
    
    }
    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
    }
  }
}
