.landingpage {
  @include flexbox($justifyContent: center, $alignItems: center);
  height: $vh100;
}

.projects {
  @include flexbox;

  .projectContainer {
    height: 100%;
    width: 100%;
    @include flexbox($wrap: wrap, $justifyContent: space-around);

  }
}

.aboutMain {
  background-color: $purple;
  color: $white;
  height: 90vh;
  width: 100%;
  @include flexbox($justifyContent: center, $alignItems: center);
  @include md{
    @include flexbox($direction:column);
    // @include margin(top, right, bottom, left);
    // @include margin(5px, 0px, 0px, 0px);
    margin-top: 10%;
    
  }
  .aboutImg {
    height: $aboutImgHeight;
    width: 40%;
    height: 40%;
    margin-left: 2%;
    @include md{
      margin-top: 5%;  
      height: 40%;    
     }

    img {
      @include imgCover;
     
    }
  }
  .aboutText {
    @include flexbox($direction:column, $justifyContent: space-evenly, $alignItems: center);
    width: 60%;
    height: 60%;
    margin: 5%;

    @include md{
      width: 100%;
      margin: 10%;
    }
    

    h2 {
      font-size:$abouth2FontSize;
    }
    h5 {
      font-size:$abouth5FontSize;
    }
    p {
      text-align: center;
    }
    a {
      border-radius: 20px;
      background-color: $almostpurple;
      border: none;
      @include flexbox;
      width: 30%;
      height: 10%;
      &:hover {
        transition: all 300ms ease-in;
        transform: scale(1.02);
        background-color: $purple;
      }
    }
  }
}

.about2 {
  @include flexbox;

}

.contact {
  height: $vh100;
  width: 100%;
  background-color: $blue;
  @include flexbox;

  @media (max-width: 700px) {
    .contact-container {
      grid-template-columns: 1fr;
      gap: 1rem;

      .map iframe {
        height: 500px;
      }
    }
  }

}