section{
    height: $vh100;
}

.projects{
    height: $vh100;
  
    .projectContainer {
        height: 100%;
        @include flexbox;
        flex-wrap: wrap;
        @include flexbox($justifyContent: space-between);
    }
        }

.aboutMain{
    height: $vh100;
    background-color: $pink;
    width: 100%;
    @include flexbox($alignItems: center);
}


