.prBtn{
    
    @include flexbox($justifyContent:center, $alignItems:center);
    color:white;
    
    margin-bottom: 10%;
    width: 60%;
    height: 15%;
    @include prBtn;
    
}

.aboutBtn{
    @include flexbox($justifyContent:center, $alignItems:center);
    color:white;
    width: 30%;

    @include md{
        
            width: 80%;
        
    }
    
}