.projectCard {
    opacity: 0.9;
    width: 20%;
    height: $vh100;
    @include flexbox($direction: column);
    @include flexbox($alignItems: center);
    &:hover {
      opacity: 1;
      transition: all 300ms ease-in;
      transform: scale(1.02);
    }

    .projectImg {
      height:$vh50;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .projectDesc {
      background: no-repeat center center fixed
        linear-gradient(to top, $darkblue, $blue, $purple, $almostpurple);
      height: $vh50;
      @include flexbox($direction: column);
      @include flexbox($alignItems: center);


      position: relative;
      h2 {
        margin-top: 4%;
      }

      a {
        position: absolute;
        bottom: 0px;
        border: 1px solid white;
        border-radius: 40px;
        width: 60%;
        height: 15%;
        @include flexbox($placeItems: center);
        padding: 1%;
        margin-bottom: 10%;
        text-decoration: none;
      }

      p {
        margin-top: 10%;
        width: 80%;
      }
    }
  }

