.projectCard {
  opacity: 0.9;
  width: 20%;

  height: $vh100;
  @include flexbox($direction: column);

  &:hover {
    opacity: 1;
    transition: all 300ms ease-in;
    transform: scale(1.02);
  }
  @include md {
    .projectCard {
      flex-basis: 50%;
    }
  }

  .projectImg {
    height: 50%;
    img {
      @include imgCover;
    }
  }

  .projectDesc {
    background: $cardGradient;
    height: 50%;
    color: $white;
    width: 100%;
    @include flexbox($direction: column, $alignItems: center);
    position: relative;

    h2 {
      height: 33.33%;
      font-size: $secondaryFontSize;
      margin-top: 4%;
    }
    p {
      font-size: $cardPFontSize;
      width: 80%;
      height: 55%;
    }
  }
}
