.projectCard {
  opacity: 0.9;
  width: 20%;
  height: $vh100;
  @include flexbox($direction: column);

  &:hover {
    opacity: 1;
    transition: all 300ms ease-in;
    transform: scale(1.02);
  }

  .projectImg {
    height: 50%;
    img {
      @include imgCover;
    }
  }

  .projectDesc {
    height: 50%;
    border: 1px solid white;
    color: $white;
    @include flexbox;


    h2 {
        border: 1px solid white;
      font-size: $secondaryFontSize;
    }
    p {
      font-size: $cardPFontSize;
      width: 60%;
      border: 1px solid white;
    }
    a {
      width: 60%;
      border: 1px solid white;

    }
  }
}
